********************************************
*   Welcome to {{ ansible_hostname }}     *
*   Managed by Ansible                    *
*   Contact: {{ support_contact }}        *
********************************************
 
